# Dependências do Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de build ou temporários
dist/
build/
.temp/
.cache/
.env

# Arquivos do sistema
.DS_Store
Thumbs.db

# Configurações do editor/IDE
.vscode/
.idea/
*.swp
*.swo
