:root {
    --primary-color: #4f378a;
    --secondary-color: #a17bff;
    --accent-color: #b200ff;
}

body {
    background-color: #fef7ff;
    background-image: url("../assets/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navbar */
.logo-nav {
    width: 148px;
}

.nav-link {
    color: #000 !important;
    font-weight: 500;
    margin: 0 15px;
}

.nav-link.active {
    color: #6a00b3 !important;
    border-bottom: #6a00b3 2px solid !important;
}

.nav-link:hover {
    color: #b200ff !important;
    border-bottom: #b200ff 2px solid !important;
}

/* Main Content */
.main-logo {
    max-width: 189px;
    margin-top: 4rem;
}

.connecting-text img {
    max-width: 600px;
    width: 100%;
    margin: 2rem auto;
}

.lead-text {
    max-width: 300px;
    font-weight: bold;
    text-align: left;
    font-size: 18px;
    margin-left: 8rem;
}

.text-DiscoverLocation {
    position: relative;
    left: -210%;
}

.login-link {
    border-radius: 12px;
    font-size: 15px;
    border-radius: 12px;
    font-weight: bold;
    transition: all 0.3s;
    box-shadow: inset 0 0 0 2px var(--primary-color) !important;
}

.login-link:hover {
    border: none !important;
    transform: translateY(-2px);
}

.btn-purple-style {
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 12px;
    font-weight: bold;
    transition: all 0.3s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.btn-purple-style:hover {
    background-color: var(--secondary-color);
    transform: translateY(-2px);
}

.btn-join {
    margin: 2rem 0;
    font-size: 1.1rem;
}

/* Background Elements */
.background-elements {
    position: relative;
}

.circles {
    position: absolute;
    bottom: -50px;
    left: 0;
    max-width: 270px;
    width: 20%;
    z-index: -1;
}

.pink-bg {
    position: absolute;
    top: 20%;
    right: -10%;
    transform: translateY(-85.5%);
    max-width: 1920px;
    height: 1080px;
    z-index: -1;
}

/* Responsive Adjustments */
@media (max-width: 992px) {
    .main-logo {
        margin-top: 2rem;
    }

    .connecting-text img {
        max-width: 400px;
    }

    .lead-text {
        font-size: 1rem;
        padding: 0 1rem;
        text-align: center;
        margin: 0 auto 2rem;
    }
}

@media (max-width: 768px) {
    body {
        background: none;
        background-color: #fef7ff;
    }
    
    .logo-nav {
        width: 120px;
    }

    .nav-link {
        margin: 5px 0;
        text-align: center;
    }

    .btn-purple-style {
        display: block;
        margin: 10px auto;
    }

    .lead-text {
        color: #444;
        font-size: 1.25rem;
        max-width: 300px;
        font-weight: bold;
        margin: 0 auto 2rem;
        font-size: 16px;
    }
}
